<div style="text-align:center">
        <label>a.	Un botón cuya acción será el consumir la información del endPoint  </label>
      <br />
          <button type="button" (click)="get_para()">GET /Array</button>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <div class="alert alert-info alert-dismissible" role="alert">
                  {{ status}}
              </div>        
          </div>
        </div>
      
                <label>
                        b.	Una tabla que deberá contener las siguientes columnas en su encabezado:
                        <br />
                        i.	N°: índice n incremental.<br />
ii.	Valores ordenados de la ‘a’ a las ‘z’.

                    </label>
           
        <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">N°:</th>
                    <th scope="col">ii.	Valores</th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let evaluacion of lstEvaluacion">
                    <th scope="row" >{{evaluacion.nro}}</th>
                    <td>{{evaluacion.frase}}</td>
                    
                  </tr>
                </tbody>
          </table>

<label>
    <span class="text-warning">
        Para este punto no me quedo muy claro lo que se debe hacer, por lo que inferí lo siguiente: <br />
        1.- Asumiendo que esta basado en la prueba 1 donde se debían contar las letras de todos los paragraph, es crear otra grilla   <br />
        2.- Me da la sensación que el punto i quieren sumar la columna "number" de todos los registros, pero no tendría sentido ponerla como una fila así que la podré como totalizador <br />
    </span>
        c.	Para el cuerpo de la tabla, se deberá procesar el arreglo consumido del endpoint de tal manera de poblar la tabla. Las filas serán llenadas con la cantidad de apariciones de las letras del valor de la llave ‘paragraph’.<br />
        i.	Incorporar una última columna en la que se deberá (de contener números) sumar los valores numéricos del valor de la llave ‘paragraph’.
        
</label>

    
<table class="table" >
        <thead>
          <tr>
            <th scope="col">Letra</th>
            <th scope="col">Cantidad de Registros</th>
          
          </tr>
        </thead>
        <label>{{letrasxCantidad}}</label>
</table>

<div class="row">
        <div class="col-lg-12">
         
            <input id="txtvalores" type="text" value="{{ monto }}" style="width: 100%;" placeholder="sumatoria de columna number." >
        </div>
        
      </div>
    