<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/page1">Ejercicio 1 </a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/page2">Ejercicio 2 </a>
      </div>
    </div>
  </nav>