<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<!-- <div class="page-container">
	<div class="side-bar">
		<ul class="nav flex-column">
	  	<li class="nav-item">
	    	<a class="nav-link active" routerLink="ejercicio1">
				Ejercicio 1
				</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="new-user">
          Ejercicio 2
				</a>
	  	</li>
		</ul>
	</div>
	<div class="content-container">
 		<router-outlet></router-outlet>
	</div>
</div> -->


<router-outlet></router-outlet>
