<div style="text-align:center">
  <label>a.	Un botón, cuya acción será el consumir la información del endPoint  </label>
<br />
    <button type="button" (click)="get_arrays()">GET /Array</button>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissible" role="alert">
            {{ status }}
        </div>        
    </div>
  </div>
   
  <label>
      b.	Una tabla que deberá contener las siguientes columnas:<br />
      c.	Complementario a la tabla anterior: 
  </label>
  <table class="table" >
        <thead>
          <tr>
            <th scope="col">N°:</th>
            <th scope="col">Number</th>
            <th scope="col">Quantity</th>
            <th scope="col">First position</th>
            <th scope="col">Last position</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evaluacion of lstEvaluacion">
            <th scope="row" class="{{ evaluacion.classBg }}">{{evaluacion.nro}}</th>
            <td class="{{ evaluacion.classBg }}">{{evaluacion.number}}</td>
            <td class="{{ evaluacion.classBg }}">{{evaluacion.quality }}</td>
            <td class="{{ evaluacion.classBg }}">{{evaluacion.firstPosition }}</td>
            <td class="{{ evaluacion.classBg }}">{{evaluacion.lastPosition }}</td>
          </tr>
        </tbody>
  </table>
  
  <div class="row">
    <div class="col-lg-12">
       <label>d.	Imprimir en un textbox los valores ordenados de menor a mayor (sin utilizar array.sort())</label>
        <input id="txtvalores" type="text" value="{{ valores }}" style="width: 100%;" placeholder="valores...." >
    </div>
    
  </div>

  

  